.header {
  width: 100%;
  height: 5rem;
  top: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: #ffc738;
  z-index: 100;
}

.header h1 {
  font-size: 40px;
  color: rgb(0, 0, 0);
  margin: 20px;
}

.header ul {
  list-style: none;
  margin: 10px;
  padding: 10px;
}

.navlinks {
  list-style: none;
  margin: 10px;
  color: antiquewhite;
}

.header .navlinks li {
  display: inline-block;
  padding: 0px 10px;
}

.header .navlinks li a {
  font-size: small;
  text-decoration: none;
  color: black;
  margin: 2px;
}

.header .navlinks li:hover,
.header .navlinks li a.active {
  color: white;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .header h1 {
    font-size: 12px;
    margin: 2%;
  }

  .header .navlinks li {
    display: inline-block;
    padding: 0px 4px;
    margin: auto;
  }

  .header .navlinks li a {
    text-decoration: none;
    margin: 1px;
  }
}
