  footer{
    display:flex;
    margin-top: 2rem;
    padding:20px;
    background: #56CCF2;
  }
  
  .footertitle{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  footer .footericons{
    width: 5px;
    height: 5px;
    display:flex;
    align-items:center;
    justify-content: space-around;
  }
  
  .footer-icons ul{
    list-style-type: none;
    display: flex;
  }
  
  .footer-icons li{
    padding:px;
    margin: 5px;
  }
  
  .footer-icons li:hover{
    background:rgb(63, 63, 63);
  }
  
  .footer-icons img{
    width: 5px;

  }

  
@media(max-width: 700px) {
    .ualign {
      margin: 1%;
    }
  }