.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #000000;
    color: white;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #2e2e2e;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
  .badge {
    background-color: #000000;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #242424;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }

  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

  @media(max-width: 700px) {
    .button {
      font-size: medium;
      margin: 1%;
    }

    .header nav__links {
      font-size: medium;
      margin: 1%;
    }

    .icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }

    .badge {
      background-color: #000000;
      padding: 5px;
      margin: auto;
      border-radius: 10px;
      font-weight:500;
    }

  }