.header {
    width: 100%;
    height: 5rem; 
    top: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
  }
   
  .header h1 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 7px;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navlinks {
    list-style: none;
  }

  .navlinks li { 
    display: inline-block;
    padding: 0px 10px;
  }

  .navlinks li a {
    font-size: small;
    text-decoration: none;
    color: aliceblue;
    margin: 0;
  }
  
  .navlinks li :hover,
  .navlinks.active {
    color: var(#5e5e5e)
  }

  @media(max-width: 700px) {
    .header h1 {
      font-size: 14px;
      margin: 2%;
    }

    .navlinks li { 
      display: inline-block;
      padding: 0px 5px;
      margin: auto;
      color: white;
    }
    
  .navlinks li a {
    text-decoration: none;
    color: aliceblue;
    margin: 1px;
  }
  
  .navlinks li :hover,
  .navlinks.active {
    color:antiquewhite;
    text-decoration: underline;
  }
}