.title{
    margin-top: 6rem;
    text-align: center;
}

.image {
    float: left;
    margin: 0px 20px;
    margin-top: 50px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.para {
    font-size: 17px;
    margin: 2rem;
    color: #777;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.empty{
    padding: 0.5px;
}