.generics {
    margin-top: 5rem;
    background-color: #777;
    padding: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
  }

.title {
    font-family: "Metal Mania";
    font-style: inherit;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
    text-align: center;
}

.ualign {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 25%;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.item h3 {
  margin-top: 7rem;
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date {
  padding: 0px 10px;
  width: 10px;
}

.place {
  padding: 0px 25px;
  width: 20px;
}

.btn {
  width: 6rem;
  background: #56CCF2;
  color: white;
  border: none;
  padding: 7px;
  margin-left: 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
  display:flex;
  margin-top: 2rem;
  padding:20px;
  background: #56CCF2;
}

.footertitle{
  text-align: center;
  color:rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

footer .footericons{
  width: 50px;
  height: 50px;
  display:flex;
  align-items:center;
  justify-content: space-around;
}

.footer-icons ul{
  list-style-type: none;
  display: flex;
}

.footer-icons li{
  padding:10px;
  margin: 10px;
}

.footer-icons li:hover{
  background:rgb(63, 63, 63);
}

.footer-icons img{
  width: 50px;
}

@media(max-width: 700px) {
  .ualign {
    margin: 1%;
  }
}