.title {
    margin-top: 1.5rem;
    background-color: #777;
    padding: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
  }
  
.ualign {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 25%;
}
